[submodule "submodules/bootstrap"]
	path = submodules/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "submodules/jquery.localScroll"]
	path = submodules/jquery.localScroll
	url = git://github.com/flesler/jquery.localScroll.git
[submodule "submodules/jquery.scrollTo"]
	path = submodules/jquery.scrollTo
	url = git://github.com/flesler/jquery.scrollTo.git
