extends layout

block content
	#middle
		.container-fluid
			.row-fluid
				.span12
					.article-wrapper
						h2 Assert your assumptions to avoid exceptions
						p When it comes to projects, with teams and for clients, I assume that we are all reasonable people who just want to get the job done and have fun doing it. To that end, we should agree on some fundamentals, and negotiate any issues in advance. Some of these are suggestions, and some of them are personal rules.

			.row-fluid
				.span5
					.article-wrapper
						h3 Work relationships
						p I work as an equal member of a team, with multiple clear but flexible roles for each person. By "team", I mean either a traditional web software development team, which may or may not be part of a larger company, or a team of seperate parties e.g. a client, a developer (me) and an artist. Those are roles in that example, not necessarily seperate people; with this personal site of mine, I am the developer, the artist and the client.
						p If I need anything from a teammate or from a client, I will ask in writing as early as possible. Hopefully you will do the same. If I am stuck waiting for something, I will simply work on another project until I can get what I need to move foreward with our project.
						p I do not work weekends or evenings unless it is an emergency, e.g. site down. To keep in touch, I will give you my mobile number, please text instead of calling so that I can finish the current block of code before I respond :) The best way to communicate with my is by email, with pics. We can also do video chat over Google Talk.

				.span7
					.article-wrapper
						h3 Project management
						p If I am managing the project, then it will be in version control on <a href="https://github.com/">Github</a> or <a href="https://bitbucket.org/">Bitbucket</a>. Documents will be <a href="https://github.com/features/projects/wikis" title="about github project wikis">wikified</a> and <a href="https://github.com/features/projects/issues" title="about github issue tracking">issues</a> will be tracked using the <a href="https://github.com/features/projects" title="about github project management tools">features</a> provided by these excellent sites. Private documents will be kept private between the team and the client. Super duper secrects can be shared by encrypted email, just ask me for my <a href="http://www.gnupg.org/" title="GNU Privacy Guard">GPG</a> public key.
						p If I am joining an existing project, then I will adapt to your existing workflow, if it is unfamiliar to me. If you are not using version control (why!?), then I will keep my own work in a private repository.
						p When a project is completed and paid for, you will be given all of the assets and granted all legal rights. If you want to restrict my legal rights, e.g. disallow me from open-sourcing the parts of the project that do not contain private information, or if you want me to sign a <a href="http://en.wikipedia.org/wiki/Non-disclosure_agreement" title="about non-disclosure agreements">non-disclosure</a> or even a <a href="http://en.wikipedia.org/wiki/Non-compete_clause#Canada" title="about non-competition contracts in Canada">non-competition</a> agreement, then that will cost you extra. We must make an agreement about this before the project begins, if you want these agreements. I will always keep your personal information confidential, and I often destroy records that I have no legitimate reason to keep, such as other people's passwords.

			.row-fluid
				.span8
					.article-wrapper
						h3 Roles and rewards
						p If we are going to work as a team, then the payment should be divided evenly among the major roles. People with multiple roles get multiple shares. For a typical web site or app, the roles might break down like this:

						ol
							li <strong>bringing opportunity</strong>: If you have gone out of your way to find a good project or client for the team, I feel that that deserves an even share all by itself. Employers, I am talking to you here.
							li <strong>managing the project</strong>: Create a project scope document and determine the exact goals of the project with the client. Get the client to approve each phase of the project. Responsible for responding coordinating communications and receiving payments for the team.
							li <strong>writing content</strong>: Sometimes this would be the responsibility of client, for example if we were building a personal protfolio site, then the client would probably want to write her own biography. If we were building a web app like say a vehicle reservation system, then this might not even be a role; the graphic design would contain some text, and the programming design would contain some text, but it would not take much time or skill to write. For a business website, however, we would have an advertising / marketing role, and that person would do most of the writing.
							li <strong>graphic design</strong>: Draw a sketch of how the project will look, then create the artistic assets for the project. If the client doesn't care exactly how it looks, just that it looks good, then there is no need to draw a pixel perfect image of the final product. Just pick a theme framework like <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> or <a href="http://jqueryui.com/">Jquery UI</a>.
							li <strong>programming and configuration</strong>: Design the functionality of the project, then implement it. Integrate third party software and publish the site. Set up analytics and <a href="http://en.wikipedia.org/wiki/Search_engine_optimization" title="SEO">help</a> the search engines find the project.
						p For small to medium sized projects, all of these roles might be assigned to only one to three people. For large projects, there might be a whole team assigned to each role, and the division of tasks and income could be a lot more complex than what I have described here.
						p If you are hiring me as a subcontractor for an existing project, or hiring me as an employee, I cost about $20 to $30 an hour, depending on the complexity of the project. To save us both the hassle of tracking hours, I can give you an estimate for how long my part of a project will take, plus a small error margin for unforseen complications, and then bill you a flat fee. I would charge a minimum of $100 for very small projects, for the time it takes to set up a suitable work environment and publish a single page online.

				.span4
					.article-wrapper
						h3 Approval and payment
						p Projects will be broken down into phases. After each phase, a client must either approve the work to date and pay a fraction of the total project estimate, or offer constructive criticism and request that the work in that phase be redone. For each phase, one redo is allowed for free, after which that phase is considered complete and will be billed for, wether the client approves it or not. Let's hope that never happens. Work on the next phase will begin within a business day of the payment for the previous phase.
						p I prefer to be paid in physical Canadian cash if we are working face to face, or in bitcoins if we aren't. Any other methods will involve middlemen who will charge more than their services are worth. You can email money to me, but your bank will probably charge you an exhorbitant fee, like $2. If you want to hire me as an employee, then direct deposit works fine. I will always give you a detailed receipt for all payments received.
						p When I am managing a project, I need $50 to start. This is for setting up website and / or project hosting and any other minor startup expenses, and as a token of your willingness and ability to pay for work. This is included in the project estimate.

			.row-fluid
				.span6
					.article-wrapper
						h3 Love you long time
						p If you want to keep it simple, I can manage the site for you indefinately. I will keep the software updated and make sure the bills get paid for the various accounts that the project depends on, like the DNS registration and web hosting. Backups would be my responsibility. My yearly fee would depend on the scale of the project, and it would be the only recurring fee that you have to pay. Just keep in mind, that if your site suddenly explodes in popularity, the costs of the infrastructure will suddenly increase, and I will have to adjust my rates to compensate. We can make a formal agreement in writing beforehand, and you can end the contract anytime by paying a fraction of that year's fee.
				.span6
					.article-wrapper
						h3 Walk away
						p When the project is complete and paid for, the client can have everything that was created: the design files, the hosting account, the project repository, everything. I will destroy any copies of the client's passwords that I have, and I recommend that you change them anyway.
						p I keep backups of all my old projects, but I won't make any guarantees for free.
						p If a client wants to abandon the project or take it to a different contractor, I would bill them for a fraction of the total project estimate that is equal to the fraction of the total project work that has been completed. All assets will be handed over as soon as I get paid, including passwords to accounts that are related to the project.
