
extends layout

block content
	section(roll='main')#middle.container-fluid
		.row-fluid
			header.span12
				.article-wrapper
					h2 A Stream of State
					p Intersecting feeds from around my webs.

		.row-fluid
			.span4
				.article-wrapper
					h3: a(href='github.com/d4goxn') GitHub
						for event in page.githubEvents
							article
								h4= event.title
								.message!= event.message
