extends layout

block content
	#middle
		.container-fluid
			.row-fluid
				.span6
					.article-wrapper
						h2 <strong>Dan Ross</strong> a hacker in paradise
						p In the summer I can often be found exploring the bottom of the Nanaimo River with the help of a heavy rock and a snorkel, or flicking disks into distant baskets at Bowen Park. I'm always down for a game, with friends or people who will soon be friends. When I'm not playing outside, I like to bang out code in strange new environments and explore the quirky aerospace physics of Kerbal Space Program.
						p I've been programming since age 12, when my grandfather gave my my first computer: a 386 DOS box. I never found game that could fit in it's memory, so the machine itself became my toy. With the accidental discovery of the `help` command, I stumbled into the magical world of code and never looked back. From shell scripting to basic, through C, C++, Java and then Python, around the fringes of the exotic paradigms expressed by Lisp, Prolog and Haskell, to the rise of Javascript. I have been on a quest to find the perfect platform, where an idea can manifest itself in an optimal form with minimal effort. The quest will never end.
						p In the near future, I anticipate a cohesion of the best languages of their respective paradigms, all working bringing their greatest strengths to bear on the multifaceted problems of a modern software system. Compiling to Javascript, to target the defacto standard platform: the browser.
