extends layout

block content
	#middle
		.container-fluid
			.row-fluid
				.span6
					.article-wrapper
						h2 <strong>Dan Ross</strong> a hacker in paradise
						p I would like to work on this page, but it's too nice outside :)
