.container-fluid {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;
}

body {
	#middle .row-fluid {
		padding-top: 1em;
		padding-bottom: 1em;
	}

	> footer .row-fluid {
		padding-top: 4em;
	}
}

#site-nav {

	h1 {
		margin: inherit;
		display: inline-block;
	}

	a, a:link, a:hover, a:active, a:visited {
		padding-top: 2em;
		padding-bottom: 1em;
	}

	a:first-child {
		padding-left: 1em;
	}

	a:not(:first-child) {
		text-align: right;
		padding-right: 1em;
	}
}

em {
	font-style: normal;
	font-weight: lighter;
}

strong {
	font-weight: bolder;
}

h1, h2, h3, h4 {
	margin-top: 0;
}

ul {
	list-style-type: none;
	margin-left: 0;

	li {
		margin-bottom: .5em;
	}

	li:last-child {
		margin-bottom: 0;
	}
}

.article-wrapper {
	margin-left: 1em;
	margin-right: 1em;
}

.imageblock {
	position: relative;

	.title {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin-bottom: 0;
		padding-top: 1em;
	}
}
